{% if site.data.website.banner.show %}
  <section id="banner">
    <a href="{{ site.data.website.banner.link }}" class="flex-grow">
      {{ site.data.website.banner.text }}
    </a>
  </section>
{% endif %}
