/* Fonts */
@font-face {
  font-family: 'Anchor Jack';
  src: url('/assets/AnchorJack.ttf');
}

/* Variables */
:root {
  --heading-font: 'Anchor Jack', serif;
  --body-font: 'Questrial', sans-serif;
  --bg-color: #221b1b;

  --section-vert-padding: 40px;
  --paragraph-space: 16px;
  --grid-spacing: 20px;

  --text-dark-color: black;
  --text-dark-alt-color: #30323f;
  --text-light-color: white;
  --text-light-alt-color: #aea8a5;

  --text-color: var(--text-dark-color);
}

/* Semantics */
.heading {
  font-family: var(--heading-font);
  /* font-style: italic; */
  /* font-weight: bold; */
}
html {
  font-family: var(--body-font);
  font-size: 1.1em;
  color: var(--text-color);
}
.content 
  {--max-content-width: 850px;} /* Default value */
.content.content-wide 
  {--max-content-width: 1100px;}
.content {
  max-width: var(--max-content-width);
  margin: auto;
}

/* Override browser defaults */

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
.heading, p {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  height: 4px;
  width: 70px;
  border: none;
  margin: 24px auto;
  background-color: var(--text-color);
}

/* Components */
.text-color-regular {color: var(--text-color);}
.text-dark {color: var(--text-dark-color);}
.text-dark-alt {color: var(--text-dark-alt-color);}
.text-light {color: var(--text-light-color);}
.text-light-alt {color: var(--text-light-alt-color);}

.text-align-right {text-align: right;}
.text-align-left {text-align: left;}

/* Components - layout */ 
.list-inline {
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline;
}
.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.text-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.align-items-stretch {
  align-items: stretch;
}
.justify-content-center {
  justify-content: center;
}

.side-padding-min {
  padding-left: 10px;
  padding-right: 10px;
}
.side-padding {
  padding-left: 20%;
  padding-right: 20%;
}
.vert-padding {
  padding-top: var(--section-vert-padding);
  padding-bottom: var(--section-vert-padding);
}

.margin-bottom {
  margin-bottom: var(--paragraph-space);
}

/* Components - style */
.underline {text-decoration: underline;}
.text-decoration-none {text-decoration: none;}
.background-image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.widescreen-split {
  display: grid;
  align-items: stretch;
  align-content: stretch;
  grid-template-columns: 1fr 1fr;
}
.fixed-right {
  grid-template-columns: 1fr 500px;
}
.fixed-left {
  grid-template-columns: 700px 1fr;
}
.widescreen-split-pane {
  display: flex;
  flex-direction: column;
  padding-top: var(--section-vert-padding);
  padding-bottom: var(--section-vert-padding);
}

.bold {
  font-weight: bold;
}

.col2 {
  display: grid;
  grid-template-rows: 0fr;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  justify-content: center;
  align-items: center;

  column-gap: 3em;
  
  --fixed-width: 300px;
  --fixed-col: var(--fixed-width);
  /* --unfixed-max-width: 450px; */
  /* --unfixed-col: minmax(auto, var(--unfixed-max-width)); */
  --unfixed-col: auto;
}
.col2.col2-fixed-wide {
  --fixed-width: 600px;
}
.col2.col2-fixed-l {
  grid-template-columns: var(--fixed-col) var(--unfixed-col);
  grid-template-areas: 
    "fixed flexible"
}
.col2.col2-fixed-r {
  grid-template-columns: var(--unfixed-col) var(--fixed-col);
  grid-template-areas: 
    "flexible fixed";
}

/* Bind to grid areas */
.col2-flexible {grid-area: flexible;}
.col2-fixed {grid-area: fixed;}
.col2 img {
  display: block;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

/* Large headers */
.col2 .col2-heading {font-size: xx-large;}

/* "Skip to main content" shortcut */
#content-shortcut {
  transform: translateY(-100%);

  position: absolute;
  top: 0;
  left: 0;

  padding: 1em;

  background-color: white;
  z-index: 10;
}
#content-shortcut:focus {
  transform: translateY(0%);
}

.dec-line {
  position: relative;
  --dec-line-style: 2px solid white;
  --dec-line-offset: 10px;
}
.dec-line:before, .dec-line:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
}
.dec-line:before {
  top: var(--dec-line-offset);
  border-bottom: var(--dec-line-style);
}
.dec-line:after {
  bottom: var(--dec-line-offset);
  border-top: var(--dec-line-style);
}

.checker {
  background-image: url('/assets/images/checker.png');
  background-size: contain;
  image-rendering: optimizeSpeed;
}

/* Website header */
#recordswap-header {
  display: flex;
  align-items: center;

  background-size: auto 90px;

  overflow: hidden;

  /* height: 90px; */
  padding-left: 20px;
  padding-right: 20px;

  z-index: 5;

  --social-icon-size: 25px;
}
#recordswap-header > * {
    flex: 1;
}
#recordswap-header nav {
  transform: translateY(2px);
  display: flex;
  justify-content: center;
}
#wordmark {
  height: 80px;
  max-width: 330px;
  margin-right: 35px;
  transform: translateY(5px);

  background-image: url("/assets/images/wordmark.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  
  font-size: 0;
}
.navlink {
  padding: 0 10px;
  font-weight: bold;
}
#header-social-links {
  display: flex;
  justify-content: end;
  grid-area: social;
}
#header-social-links a {
  display: block;
  padding: 5px;
}
#header-social-links img {
  display: block;
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}
#banner {
  display: flex;
  background-color: #352c25;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 10%;
  min-height: 60px;
  background-image: url("/assets/images/banner.png");
  text-align: center;

  font-size: 1.5em;
}
.desktop-hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #EDDCD2;
}
#recordswap-footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--heading-font);
  font-style: normal;
  font-size: 16px;
  background-size: auto 100%;
}

/* Animations */

@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0.0;
  }
  to {
    transform: translateY(0px);
    opacity: 1.0;
  }
}
.fade-in-up {
  animation: fadeInUp 0.8s ease-out 0.5s;
  animation-fill-mode: both;
}

/* Page-specific customizations */
#homepage {
  flex-grow: 1;
  position: relative;
  align-content: stretch;
  background-color: #515050;
}
#homepage * {
  z-index: 1;
}
#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("/assets/images/homepage_background.jpg");
  background-size: cover;
  background-position: center 30%;
  filter: grayscale(1.0) contrast(1.5) opacity(0.2);
}
#homepage-blurb {
  background-color: rgba(247, 252, 252, 0.8);
  text-align: center;
  padding: var(--section-vert-padding);
  box-sizing: border-box;
}
#homepage-blurb > * {
  max-width: calc(500px - 100px); /* 500px i.e. width of fixed-size widescreen split pane */
}
#jumbo {
  align-items: center;
  justify-content: center;

  padding: 20px;
}
#jumbo img {
  max-height: 60vh;
  max-width: 100%;

  filter: invert();
}

/* About page */
#about-banner {
  background-image: 
    url('/assets/images/about/storefront.jpg'),
    linear-gradient(#3C486EFF, #3C486EFF)
  ;
  background-blend-mode: soft-light;
  background-size: cover;

  background-position: center 35%;
  min-height: 600px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--text-light-color);
}
#about-banner h1 {
  font-size: 4em;
  text-shadow: #111e47 7px 7px 0px;
}
#about-banner p {
  font-size: 1.5em;
}
#about-visit-us {
  background-color: #3C486E;
}
#visit-us-heading {
  font-size: 2em;
}
#about-follow-us {
  background-color:#1d1d4b;
}
.about-social-icon {
  width: 200px; 
}

/* Sell page */
#sell-page {
  background-color: #F4EFDC;
  --text-color: #416A5E; color: var(--text-color);
}
#sell-title {
  background-image: url("/assets/images/sell_banner.jpg");
}
#sell-emailus {
  font-size: 2em;

  --bg-color: #688F84;
  background-color: var(--bg-color);
  --text-color: #F4EFDC; color: var(--text-color);
}
#sell-emailus a {
  color: var(--text-color);
}

/* Shop */
#shop header {
  background-image: url("/assets/images/shop/banner-filtered.jpg");
  padding: 10px;
}
#shop h1 {
  font-size: 64px;
  color: #F2CE1E;
  text-shadow: #531219 7px 7px 0px;
  font-style: normal;
}
#shop h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 48px;
}
#shop-online {
  --text-dark-color: #522663;
  --text-light-color: #409CA7;

  color: var(--text-light-color);
  background-color: var(--text-dark-color);
}
#shop-online a * {
  color: var(--text-light-color) !important;
}
#shop-online-head {
  background-image: url("/assets/images/shop_online_banner.webp");
  color: var(--text-dark-color);
}
#shop-online-body {
  font-size: 1.3em;
  text-shadow: black 0px 3px 5px;
}
#shop-toc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  padding: 0;

  text-align: center;
}
#shop-toc > * {
  flex-basis: 180px;

  margin: 0 10px 10px 10px;

  border: 3px solid black;
  border-radius: 100px;
 
  padding: 15px;
 
  background-color: rgba(256,256,256,0.7);
 
  font-family: var(--heading-font);
  font-weight: bold;
}
#shop-toc a {
  color: black;
}
#our-stock {
  background-color: #8A4D48;
  --text-light-color: #EDDCD2;
  color: var(--text-light-color);
}
#our-stock h2 {
  background-color: #693039;
}
#our-stock img {
  background-color: black;
  border: 3px solid black;
}

.stock-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: stretch;
  gap: 1em;
}
.stock-3col img {
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

#dec-stock img {
  background-color: transparent;
  border: none;
}

#shop-links {
  display: flex;
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
#shop-links .large-online-store-link {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}
#shop-links .large-online-store-link:not(:last-child) {
  margin-right: 20px;
}
#shop-links img {
  width: 100%;
}
#faq {
  color: #4D4542;
}
#faq h3 {
  font-family: var(--heading-font);
  font-size: 1.5em;
}

@media screen and (max-width : 800px) {

  :root {
    --max-content-width: 500px;
  }
  
  .mobile-hidden {
    display: none;
  }

  #recordswap-header {
    flex-direction: column;
    height: auto;
    padding-bottom: 15px;
    --social-icon-size: 35px;
  }
  #recordswap-header nav {
    margin-bottom: var(--paragraph-space);
  }
  #wordmark {
    margin-right: 10px;
  }
  #recordswap-header #header-begin {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  #recordswap-site-links {
    font-size: 1.1em;
  }
  #header-social-links {
    justify-self: stretch;
    margin: 0 auto;
    min-width: 75%;
    max-width: 350px;
    justify-content: center;
  }
  .socialiconlink:not(:last-child) {
    margin-right: 16px;
  }
  .widescreen-split {
    grid-template-columns: auto;
  }
  #homepage-blurb {
    margin: 30px;
    margin-top: 10px;
  }
  .narrow-hidden {
    display: none;
  }
  #about-banner {
    background-position: center 80%;
    min-height: 50vh;
  }
  #about-banner h1 {
    font-size: 3em;
  }
  .col2 {
    grid-template-columns: auto !important;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
      "fixed"
      "flexible"
      !important;
  }
  .col2 > .col2-fixed {
    justify-self: center;
    max-width: var(--fixed-width);
  }
  .col2 {
    text-align: center !important;
  }
  .stock-3col {
    grid-template-columns: repeat(2, 1fr);
  }
  #dec-stock {
    display: none;
  }
  #shop-links {
    flex-direction: column;
  }
  #shop-links .large-online-store-link {
    width: 200px;
  }
  #shop-links .large-online-store-link {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}
