<div id="{{ include.label | downcase }}" class="text-center">
  <h3 id="{{ include.label | downcase }}-heading" class="heading">{{ include.label }}</h3>
  <img src="/assets/images/shop/stock/{{ include.label | downcase }}.jpg" aria-labelledby="{{ include.label | downcase }}-heading">
</div>