<header id="recordswap-header">
  <div>
    <a href="/" title="Record Swap">
      <img id="wordmark" src="/assets/images/wordmark.png" aria-label="Record Swap">
    </a>
  </div>
  <nav id="recordswap-site-links" class="heading">
    {% include header/navlink.html label="Home" href="/" %}
    {% include header/navlink.html label="About" href="/about" %}
    {% include header/navlink.html label="Shop" href="/shop" %}
    {% include header/navlink.html label="Sell" href="/sell" %}
  </nav>
  <ul id="header-social-links" class="list-inline">
    {% 
      include header/socialiconlink.html 
      label="Amazon" 
      href=site.data.business.links.amazon 
      imgsrc="amazon.svg" 
    %}
    {% 
      include header/socialiconlink.html 
      label="Discogs" 
      href=site.data.business.links.discogs 
      imgsrc="discogs.svg" 
    %}
    {% 
      include header/socialiconlink.html 
      label="Instagram" 
      href=site.data.business.links.instagram
      imgsrc="instagram.svg" 
    %}
    {% 
      include header/socialiconlink.html 
      label="Facebook" 
      href=site.data.business.links.facebook
      imgsrc="facebook.svg" 
    %}
  </ul>
</header>
<div class="checker" style="height: 24px;"></div>