<!DOCTYPE html>
<html lang="en" style>
<!-- 
  Created by David Gene (https://astrosticks.net).

  Release under the GNU Affero General Public License (view at /LICENSE or https://www.gnu.org/licenses/agpl-3.0.en.html).

  View source at {{ site.data.website.source-url }} 
-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Record Swap</title>
  <link rel="stylesheet" href="assets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
<a role="link" id="content-shortcut" href="#content">Skip to main content</a>
{% include header/header.html %}
{% include closed.html %}
<main id="content" class="flex-grow">
{{content}}
</main>
<footer 
  id="recordswap-footer" 
  class="text-light dec-line side-padding-min"
  style="--dec-line-offset: 5px;"
>
  &copy;{{ 'now' | date: "%Y" }}
  {{ site.data.business.copyright }}
  -&nbsp;
  <a href="/LICENSE" class="text-light-alt">AGPLv3</a>
  (<a href="{{ site.data.website.source-url }}" class="text-light-alt">src</a>)
</footer>
</body>
</html>