---
layout: main
---
<div id="sell-page" class="flex flex-direction-column flex-grow">
  <div id="sell-title" class="text-center background-image-cover vert-padding">
    <h1 class="heading">
      Looking to sell?
      <hr>
      We buy!
    </h1>
  </div>
  <div class="widescreen-split flex-grow">
    <div id="sell-blurb" class="widescreen-split-pane justify-content-center text-center align-items-stretch side-padding">
      {{ content }}
    </div>
    <div id="sell-emailus" class="widescreen-split-pane justify-content-center align-items-center text-center">
      <h2 class="heading">Email us!</h2>
      <hr>
      <a href="mailto:{{ site.data.business.email }}?subject=Looking%20to%20sell">
        {{ site.data.business.email }}
      </a>
    </div>
  </div>
</div>