---
layout: main
---
<div id="shop" class="flex-grow">
  <header class="background-image-cover text-center">
    <h1 class="heading">SHOP</h1>
    <nav>
      <ol id="shop-toc">
        <a href="#our-stock"><li>Our Stock</li></a>
        <a href="#shop-online"><li>Shop Online</li></a>
        <a href="#faq"></li>FAQ</li></a>
      </ol>
    </nav>
  </header>
  <section id="our-stock" aria-labelled-by="our-stock-heading">
    <h2 id="our-stock-heading" class="heading side-padding-min text-center">Our Stock</h2>
    <div id="shop-gallery"> <!-- content content-wide vert-padding side-padding-min -->
      <div id="vinyl" class="content col2 col2-fixed-l vert-padding margin-bottom side-padding-min">
        <img src="/assets/images/shop/stock/vinyl.jpg" aria-labelledby="vinyl-heading" class="col2-fixed">
        <div class="col2-flexible text-align-left">
          <h3 id="vinyl-heading" class="heading col2-heading margin-bottom">Vinyl</h3>
          <p>
            We pride ourselves in the quality of our vinyl, and the thousands of 
            albums we have, each individually covered with plastic sleeves, range 
            in quality from VG+ to Mint, with the rare VG being specifically marked. 
            That means no scuffs or marks will ever impede your listening experience, 
            you'll just hear the sounds you're looking to hear.
          </p>
        </div>
      </div>
      <div id="other-stock" class="content stock-3col margin-bottom side-padding-min">
        {% include shop/stock-3col-item.html label="CDs" %}
        {% include shop/stock-3col-item.html label="Tapes" %}
        {% include shop/stock-3col-item.html label="DVDs" %}
        {% include shop/stock-3col-item.html label="Stereo" %}
        <div id="dec-stock" class="text-center">
          <img src="/assets/images/shop/stock/theguy.png" aria-hidden="true">
        </div>
        {% include shop/stock-3col-item.html label="Storage" %}
        {% include shop/stock-3col-item.html label="Posters" %}
        {% include shop/stock-3col-item.html label="Merch" %}
        {% include shop/stock-3col-item.html label="Apparel" %}
      </div>
      <div id="dollar-stock" class="content col2 col2-fixed-r vert-padding side-padding-min">
        <img src="/assets/images/shop/stock/dollar.jpg" aria-labelledby="dollar-stock-heading" class="col2-fixed">
        <div class="col2-flexible side-padding-min">
          <h3 id="dollar-stock-heading" class="heading col2-heading margin-bottom">$1 Stock</h3>
          <p class="margin-bottom">
            Looking to bargain buy? We carry an impressive stock of $1 Vinyls, CDs, and DVDs.
          </p>
          <p class="margin-bottom">
            Be prepared to spend an afternoon searching through the numerous
            boxes of stock, containing thousands of LPs at a cheap price!
          </p>
          <p>
            <i>
              Note: We do not guarantee this merchandise against defects and
              therefore cannot accept $1 items in returns.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="shop-online" class="text-center">
    <div id="shop-online-head" class="background-image-cover">
      <h2 class="heading side-padding-min">Shop Online</h2>
    </div>
    <div id="shop-online-body" class="vert-padding content content-wide side-padding-min">
      <div class="margin-bottom side-padding">
        Click the images below to take you to our online stores:
      </div>
      <div id="shop-links" class="margin-bottom">
        {% include shop/store-link.html href=site.data.business.links.amazon store_name="Amazon" %}
        {% include shop/store-link.html href=site.data.business.links.discogs store_name="Discogs" %}
        {% include shop/store-link.html href=site.data.business.links.ebay store_name="Ebay" %}
      </div>
      <div class="side-padding">
        <p><b>Note:</b> Only a small fraction of our stock is on these sites.</p>
        <p> Visit our physical store to see more.</p>
      </div>
    </div>
  </section>
  <section id="faq" class="text-center vert-padding">
    <h2 class="heading side-padding-min">FAQ</h2>
    <div class="content content-normal side-padding-min">{{content}}</div>
  </section>
</div>
